/* Turquoise variables */
$theme-color: #4CAC9D;
$text-color: #666666;
$text-color-secondary: #545E6C;
$text-grey: #666666;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #000000;
$heart: #fb866a;

